h1 {
  font-size: 13px;
  text-align: left;
}

.weather-app {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.box hover {
  cursor: pointer;
}

.city {
  font-size: 50px;
  font-weight: 300;
  text-align: left;
}

.temperature {
  font-size: 30px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

li {
  text-align: center;
}

.button {
  text-align: center;
  border: none;
  display: block;
  margin: 15px auto;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.footer {
  margin: 30px 0px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.measurement {
  position: relative;
  font-size: 13px;
}
.active {
  color: rgb(33, 33, 33);
  text-decoration: none;
  cursor: default;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 13px;
}
