body {
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
}

h1 {
  font-size: 13px;
  text-align: left;
  font-family: "Rubik", sans-serif;
}

.weather-app {
  background-image: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  text-align: center;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.box hover {
  cursor: pointer;
}

.city {
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  font-family: "Rubik", sans-serif;
}

.temperature {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}

.description {
  font-family: "Rubik", sans-serif;
}

.weather-info {
  font-size: 15px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  margin-top: 25px;
}

.button {
  text-align: center;
  border: none;
  display: block;
  margin: 15px auto;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.footer {
  margin: 30px 0px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.measurement {
  position: relative;
  font-size: 13px;
}
.active {
  color: rgb(33, 33, 33);
  text-decoration: none;
  cursor: default;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-family: "Rubik", sans-serif;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 13px;
}
